# PyCity Schools Analysis

The summary of the provided school data:
- 
General Overview: The data encompasses 15 schools with a total of 32,655 students. The total budget for these schools is approximately $24.6 million. The average math score across all schools is 70.34, and the average reading score is 69.98. The overall passing rate is 87.33
%- .
School Types: The schools are categorized into two types: Government and Independent. Each school’s performance is evaluated based on several parameters, including average math and reading scores, and the percentage of students passing in these subjec
  t- s.
Budget Analysis: Each school has a specific budget allocated per student. This budget seems to vary across schools, ranging from $578 to $655 per student. There’s a column ‘Spending Ranges (Per Student)’ that categorizes schools based on their per-student bud

- et.
Yearly Performance: The data also provides a breakdown of average math and reading scores for different year levels (Year 9 to Year 12) at each sc

- ool.
School Size: Schools are also categorized by size: Large (2000-5000 students), Medium (1000-2000 students), and Small (<1000 students).
Performance by School Size: The best performing large school is Bailey High School, the best performing medium school is Griffin High School, and the best performing small school is Pena High School. The worst performing large school is Huang High School, the worst performing medium school is Thomas High School, and the only small school in the data, Holden High School, is both the best and worst in its ca

- egory.
Top Performers: Griffin High School has the highest overall passing rate of 81.335150. Cabrera High School has the highest average reading score of 71.36, and Griffin High School has the highest average math score o

-  71.79.
Low Performers: Huang High School has the lowest overall passing rate of 66.712376, the lowest average reading score of 68.91, and the lowest average math score 

- Government Schools:
    
The highest overall passing rate among Government schools is 80.084405 at Bailey High School    .
The lowest overall passing rate among Government schools is 66.712376 at Huang High Scho
o- l.
Independent School    s:

The highest overall passing rate among Independent schools is 81.335150 at Griffin High Sc    hool.
The lowest overall passing rate among Independent schools is 69.480122 at Thomas High School.of 68.94.
---

In [95]:
# Dependencies and Setup
from pathlib import Path
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

In [96]:
# Calculate the Totals (Schools and Students)
school_count = school_data["school_name"].nunique()

student_count = student_data["student_name"].nunique()

# Calculate the Total Budget
total_budget = school_data["budget"].sum()

In [97]:
# Calculate the Average Scores
average_maths_score = student_data["maths_score"].mean().round(2)
average_reading_score = student_data["reading_score"].mean().round(2)

In [98]:
# Calculate the Percentage Pass Rates
passing_maths_count = school_data_complete[(school_data_complete["maths_score"] >= 50)].count()["student_name"]
passing_maths_percentage = passing_maths_count / float(student_count) * 100
passing_reading_count =school_data_complete[(school_data_complete["reading_score"] >= 50)].count()["student_name"]
passing_reading_percentage =passing_reading_count / float(student_count) * 100

passing_maths_reading = student_data.loc[(student_data["maths_score"] >= 50) & (student_data["reading_score"] >= 50).values]
passing_maths_reading_count = passing_maths_reading.count()["student_name"]
overall_passing_rate = passing_maths_reading_count/ float(student_count) * 100

In [99]:
# Convert to DataFrame
area_summary = pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Maths Score": [average_maths_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Maths": [passing_maths_percentage],
    "% Passing Reading": [passing_reading_percentage],
    "% Overall Passing": [overall_passing_rate]
})

# Formatting
area_summary["Total Students"] = area_summary["Total Students"].map("{:,}".format)
area_summary["Total Budget"] = area_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
area_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"32,655","$24,649,428.00",70.34,69.98,103.252182,101.270862,87.334252

## School Summary

In [100]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index("school_name")["type"]

# Calculate the total student count per school from school_data
per_school_counts = student_data.groupby('school_name')['Student ID'].count()


# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data.set_index("school_name")["budget"]
per_school_capita = school_data.set_index("school_name")["budget"] / school_data.set_index("school_name")["size"]

# Calculate the average test scores per school from school_data_complete
per_school_maths = student_data.groupby("school_name")["maths_score"].mean().round(2)
per_school_reading = student_data.groupby("school_name")["reading_score"].mean().round(2)

In [101]:
# Get the students who passed maths and passed reading by creating separate filtered DataFrames from school_data_complete.
school_passing_maths = student_data[student_data['maths_score'] >= 50].groupby('school_name')['Student ID'].count()
school_passing_reading = student_data[student_data['reading_score'] >= 50].groupby('school_name')['Student ID'].count()


# Get the students who passed both reading and maths in a separate DataFrame from school_data_complete.
passing_maths_and_reading = student_data[(student_data["maths_score"] >= 50) & (student_data["reading_score"] >= 50)].groupby('school_name')['Student ID'].count()

In [102]:
#  Calculate the Percentage Pass Rates
per_school_passing_maths = (school_passing_maths / per_school_counts) * 100
per_school_passing_reading = (school_passing_reading / per_school_counts) * 100
overall_passing_rate = (passing_maths_and_reading / per_school_counts) * 100

In [103]:
# Convert to DataFrame
per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Maths Score": per_school_maths,
    "Average Reading Score": per_school_reading,
    "% Passing Maths": per_school_passing_maths,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": overall_passing_rate
})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.35,71.01,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.66,71.36,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.70,69.08,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.09,69.57,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.79,71.25,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.87,69.19,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.58,71.66,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.94,68.91,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.84,69.04,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.09,71.61,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.05,70.94,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.03,70.26,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.58,69.77,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.17,68.88,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.05,70.97,91.777778,86.666667,79.722222

## Top Performing Schools (By % Overall Passing)

In [104]:
# Sort and show top five schools
top_schools = per_school_summary.sort_values(by="% Overall Passing", ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.79,71.25,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.66,71.36,90.850377,89.074273,80.785791
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.35,71.01,91.639871,87.379421,80.084405
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.05,70.97,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.05,70.94,90.797699,87.396849,79.419855

## Bottom Performing Schools (By % Overall Passing)

In [105]:
# Sort and show bottom five schools
bottom_schools =per_school_summary.sort_values(by="% Overall Passing", ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.87,69.19,80.949299,81.877023,66.364617
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.94,68.91,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.84,69.04,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.17,68.88,82.785808,81.296540,67.455103
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.09,69.57,82.438846,82.219788,67.469880

## Maths Scores by Year

In [106]:
# Create data series of scores by year levels using conditionals
year_nine = school_data_complete[(school_data_complete["year"] == 9)]
year_ten = school_data_complete[(school_data_complete["year"] == 10)]
year_eleven = school_data_complete[(school_data_complete["year"] == 11)]
year_twelve = school_data_complete[(school_data_complete["year"] == 12)]

# Group each by school name
year_nine_scores = year_nine.groupby("school_name")["maths_score"].mean()
year_ten_scores = year_ten.groupby("school_name")["maths_score"].mean()
year_eleven_scores = year_eleven.groupby("school_name")["maths_score"].mean()
year_twelve_scores = year_twelve.groupby("school_name")["maths_score"].mean()

# Combine series into single DataFrame
maths_scores_by_year = pd.DataFrame({
    "Year 9": year_nine_scores,
    "Year 10": year_ten_scores,
    "Year 11": year_eleven_scores,
    "Year 12": year_twelve_scores
})

# Minor data wrangling
maths_scores_by_year.index.name = None

# Display the DataFrame
maths_scores_by_year

                          Year 9    Year 10    Year 11    Year 12
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

## Reading Score by Year

In [107]:
# Create data series of scores by year levels using conditionals
year_nine = school_data_complete[(school_data_complete["year"] == 9)]
year_ten = school_data_complete[(school_data_complete["year"] == 10)]
year_eleven = school_data_complete[(school_data_complete["year"] == 11)]
year_twelve = school_data_complete[(school_data_complete["year"] == 12)]

# Group each by school name
year_nine_scores = year_nine.groupby("school_name")["reading_score"].mean()
year_ten_scores = year_ten.groupby("school_name")["reading_score"].mean()
year_eleven_scores = year_eleven.groupby("school_name")["reading_score"].mean()
year_twelve_scores = year_twelve.groupby("school_name")["reading_score"].mean()

# Combine series into single DataFrame
reading_scores_by_year = pd.DataFrame({
    "Year 9": year_nine_scores,
    "Year 10": year_ten_scores,
    "Year 11": year_eleven_scores,
    "Year 12": year_twelve_scores
})


# Minor data wrangling
reading_scores_by_year.index.name = None

# Display the DataFrame
reading_scores_by_year

                          Year 9    Year 10    Year 11    Year 12
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

## Scores by School Spending

In [108]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

In [109]:
# Create a copy of the school summary since it has the "Per Student Budget"
#  This step can be skipped but its best to make a copy.
school_spending_df = per_school_summary

In [111]:
# Categorise spending based on the bins.
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].replace('[\$,]', '', regex=True).astype(float)
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_summary["Per Student Budget"], bins=spending_bins, labels=group_names, right=False)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",628.0,72.35,71.01,91.639871,87.379421,80.084405,$585-630
Cabrera High School,Independent,1858,"$1,081,356.00",582.0,71.66,71.36,90.850377,89.074273,80.785791,<$585
Figueroa High School,Government,2949,"$1,884,411.00",639.0,68.70,69.08,81.654798,82.807731,67.650051,$630-645
Ford High School,Government,2739,"$1,763,916.00",644.0,69.09,69.57,82.438846,82.219788,67.469880,$630-645
Griffin High School,Independent,1468,"$917,500.00",625.0,71.79,71.25,91.212534,88.487738,81.335150,$585-630
Hernandez High School,Government,4635,"$3,022,020.00",652.0,68.87,69.19,80.949299,81.877023,66.364617,$645-680
Holden High School,Independent,427,"$248,087.00",581.0,72.58,71.66,89.929742,88.524590,78.922717,<$585
Huang High School,Government,2917,"$1,910,635.00",655.0,68.94,68.91,81.693521,81.453548,66.712376,$645-680
Johnson High School,Government,4761,"$3,094,650.00",650.0,68.84,69.04,82.062592,81.978576,67.191766,$645-680
Pena High School,Independent,962,"$585,858.00",609.0,72.09,71.61,91.683992,86.590437,79.209979,$585-630
Rodriguez High School,Government,3999,"$2,547,363.00",637.0,72.05,70.94,90.797699,87.396849,79.419855,$630-645
Shelton High School,Independent,1761,"$1,056,600.00",600.0,72.03,70.26,91.538898,86.712095,78.875639,$585-630
Thomas High School,Independent,1635,"$1,043,130.00",638.0,69.58,69.77,83.853211,82.629969,69.480122,$630-645
Wilson High School,Independent,2283,"$1,319,574.00",578.0,69.17,68.88,82.785808,81.296540,67.455103,<$585
Wright High School,Independent,1800,"$1,049,400.00",583.0,72.05,70.97,91.777778,86.666667,79.722222,<$585

In [112]:
# Calculate averages for the desired columns with observed=False to suppress warnings
spending_maths_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"], observed=False)["Average Maths Score"].mean()
spending_reading_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"], observed=False)["Average Reading Score"].mean()
spending_passing_maths = per_school_summary.groupby(["Spending Ranges (Per Student)"], observed=False)["% Passing Maths"].mean()
spending_passing_reading = per_school_summary.groupby(["Spending Ranges (Per Student)"], observed=False)["% Passing Reading"].mean()
overall_passing_spending = per_school_summary.groupby(["Spending Ranges (Per Student)"], observed=False)["% Overall Passing"].mean()

In [113]:
# Assemble into DataFrame
spending_summary = school_spending_df

# Display results
spending_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",628.0,72.35,71.01,91.639871,87.379421,80.084405,$585-630
Cabrera High School,Independent,1858,"$1,081,356.00",582.0,71.66,71.36,90.850377,89.074273,80.785791,<$585
Figueroa High School,Government,2949,"$1,884,411.00",639.0,68.70,69.08,81.654798,82.807731,67.650051,$630-645
Ford High School,Government,2739,"$1,763,916.00",644.0,69.09,69.57,82.438846,82.219788,67.469880,$630-645
Griffin High School,Independent,1468,"$917,500.00",625.0,71.79,71.25,91.212534,88.487738,81.335150,$585-630
Hernandez High School,Government,4635,"$3,022,020.00",652.0,68.87,69.19,80.949299,81.877023,66.364617,$645-680
Holden High School,Independent,427,"$248,087.00",581.0,72.58,71.66,89.929742,88.524590,78.922717,<$585
Huang High School,Government,2917,"$1,910,635.00",655.0,68.94,68.91,81.693521,81.453548,66.712376,$645-680
Johnson High School,Government,4761,"$3,094,650.00",650.0,68.84,69.04,82.062592,81.978576,67.191766,$645-680
Pena High School,Independent,962,"$585,858.00",609.0,72.09,71.61,91.683992,86.590437,79.209979,$585-630
Rodriguez High School,Government,3999,"$2,547,363.00",637.0,72.05,70.94,90.797699,87.396849,79.419855,$630-645
Shelton High School,Independent,1761,"$1,056,600.00",600.0,72.03,70.26,91.538898,86.712095,78.875639,$585-630
Thomas High School,Independent,1635,"$1,043,130.00",638.0,69.58,69.77,83.853211,82.629969,69.480122,$630-645
Wilson High School,Independent,2283,"$1,319,574.00",578.0,69.17,68.88,82.785808,81.296540,67.455103,<$585
Wright High School,Independent,1800,"$1,049,400.00",583.0,72.05,70.97,91.777778,86.666667,79.722222,<$585

## Scores by School Size

In [114]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [115]:
# Categorize the spending based on the bins
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], bins=size_bins, labels=group_names, right=False)
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
school_name,,,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",628.0,72.35,71.01,91.639871,87.379421,80.084405,$585-630,Large (2000-5000)
Cabrera High School,Independent,1858,"$1,081,356.00",582.0,71.66,71.36,90.850377,89.074273,80.785791,<$585,Medium (1000-2000)
Figueroa High School,Government,2949,"$1,884,411.00",639.0,68.70,69.08,81.654798,82.807731,67.650051,$630-645,Large (2000-5000)
Ford High School,Government,2739,"$1,763,916.00",644.0,69.09,69.57,82.438846,82.219788,67.469880,$630-645,Large (2000-5000)
Griffin High School,Independent,1468,"$917,500.00",625.0,71.79,71.25,91.212534,88.487738,81.335150,$585-630,Medium (1000-2000)
Hernandez High School,Government,4635,"$3,022,020.00",652.0,68.87,69.19,80.949299,81.877023,66.364617,$645-680,Large (2000-5000)
Holden High School,Independent,427,"$248,087.00",581.0,72.58,71.66,89.929742,88.524590,78.922717,<$585,Small (<1000)
Huang High School,Government,2917,"$1,910,635.00",655.0,68.94,68.91,81.693521,81.453548,66.712376,$645-680,Large (2000-5000)
Johnson High School,Government,4761,"$3,094,650.00",650.0,68.84,69.04,82.062592,81.978576,67.191766,$645-680,Large (2000-5000)
Pena High School,Independent,962,"$585,858.00",609.0,72.09,71.61,91.683992,86.590437,79.209979,$585-630,Small (<1000)
Rodriguez High School,Government,3999,"$2,547,363.00",637.0,72.05,70.94,90.797699,87.396849,79.419855,$630-645,Large (2000-5000)
Shelton High School,Independent,1761,"$1,056,600.00",600.0,72.03,70.26,91.538898,86.712095,78.875639,$585-630,Medium (1000-2000)
Thomas High School,Independent,1635,"$1,043,130.00",638.0,69.58,69.77,83.853211,82.629969,69.480122,$630-645,Medium (1000-2000)
Wilson High School,Independent,2283,"$1,319,574.00",578.0,69.17,68.88,82.785808,81.296540,67.455103,<$585,Large (2000-5000)
Wright High School,Independent,1800,"$1,049,400.00",583.0,72.05,70.97,91.777778,86.666667,79.722222,<$585,Medium (1000-2000)

In [116]:
# Calculate averages for the desired columns.
size_maths_scores = per_school_summary.groupby(["School Size"], observed=False)["Average Maths Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"], observed=False)["Average Reading Score"].mean()
size_passing_maths = per_school_summary.groupby(["School Size"], observed=False)["% Passing Maths"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"], observed=False)["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"], observed=False)["% Overall Passing"].mean()

In [117]:
# Assemble into DataFrame
size_summary = pd.DataFrame({
    "Average Maths Score": size_maths_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Maths": size_passing_maths,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

# Display results
size_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),72.33500,71.6350,90.806867,87.557513,79.066348
Medium (1000-2000),71.42200,70.7220,89.846560,86.714149,78.039785
Large (2000-5000),69.75125,69.5775,84.252804,83.301185,70.293507

## Scores by School Type

In [ ]:
# Create new series using groupby for:
# Type | Average Maths Score | Average Reading Score | % Passing Maths | % Passing Reading | % Overall Passing

type_maths_scores = per_school_summary.groupby(["School Type"], observed=False)["Average Maths Score"].mean()
type_reading_scores = per_school_summary.groupby(["School Type"], observed=False)["Average Reading Score"].mean()
type_passing_maths = per_school_summary.groupby(["School Type"], observed=False)["% Passing Maths"].mean()
type_passing_reading = per_school_summary.groupby(["School Type"], observed=False)["% Passing Reading"].mean()
type_overall_passing = per_school_summary.groupby(["School Type"], observed=False)["% Overall Passing"].mean()

In [119]:
# Assemble into DataFrame
type_summary = pd.DataFrame({
    "Average Maths Score": type_maths_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Maths": type_passing_maths,
    "% Passing Reading": type_passing_reading,
    "% Overall Passing": type_overall_passing
})
# Display results
type_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.834286,69.677143,84.462375,83.587562,70.698993
Independent,71.368750,70.720000,89.204043,86.247789,76.973340